


<div class="row">
  <div class="col-sm-6">
    <h1>Forecast_hours</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_forecast_hour_path, class: 'btn btn-primary' do %>
    Add New Forecast hour
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Disruption level</th>
            <th>Probability of occurence</th>
            <th>Forecast day</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @forecast_hours.each do |forecast_hour| %>
        <%= content_tag :tr, id: dom_id(forecast_hour), class: dom_class(forecast_hour) do %>
          

                      <td><%= forecast_hour.disruption_level %></td>
                      <td><%= forecast_hour.probability_of_occurence %></td>
                      <td><%= forecast_hour.forecast_day %></td>
          
          
            <td><%= link_to 'Show', forecast_hour %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
