<%= form_with(model: early_warning_forecast, local: true) do |form| %>
  <% if early_warning_forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(early_warning_forecast.errors.count, "error") %> prohibited this early_warning_forecast from being saved:</h2>

      <ul>
      <% early_warning_forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :district_id %>
    <%= form.collection_select(:district_id, District.all, :id, :name,
          {prompt: 'Select district'}, {class: 'selectors form-control'}) %>
  </div>

  <h3>Forecast days</h3>
  <div id="days">
    <%= form.fields_for :forecast_days do |forecast_day| %>
      <%= render 'forecast_day_fields', f: forecast_day %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Add Days', form, :forecast_days %>
    </div>
  </div>


  <div class="form-group">
    <% if early_warning_forecast.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', early_warning_forecast, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if early_warning_forecast.persisted? %>
      <%= link_to "Cancel", early_warning_forecast, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", early_warning_forecasts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
