<div class="row content-header">
  <div class="col-sm-4 action-buttons text-left">
    <%= link_to early_warning_forecasts_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      All forecasts
    <% end %>
  </div>

  <div class="col-sm-4 action-buttons text-right">
    <%= link_to edit_early_warning_forecast_path(@early_warning_forecast), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit Details
    <% end %>
  </div>

  <div class="col-sm-4 action-buttons text-right">
    <%= link_to early_warning_reports_path(@early_warning_reports), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Create a notification
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-header">
        <h3>Planning forecast for <%= @early_warning_forecast.district.name %> prepared on <%= @early_warning_forecast.created_at.to_formatted_s(:long) %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>

            </tr>
          </thead>

          <tbody>
            <% @forecastdays.each do |forecastday| %>
              <tr>
                <td>
                  <%= forecastday.day_of_forecast %>
                </td>
                <td>
                    <table class="table table-bordered" style="font-size: 11px">
                      <thead>
                        <tr>
                          <th>Hours</th>
                          <th>Disruption level</th>
                          <th>Probability</th>
                        </tr>
                      </thead>

                  <% forecastday.forecast_hours.each do |fh| %>
                      <tbody>
                        <td><%= fh.hour %>:00 hrs</td>
                        <td><%= fh.disruption_level %></td>
                        <td><%= fh.probability_of_occurence %><br></td>
                      </tbody>
                  <% end %>
                    </table>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <p>Report prepared by: </p>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default" style="padding-left: 20px; padding-bottom: 10px">
      <div class="panel-heading">
        <h6>Guide to potential disruption levels that may be experienced:</h6>
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Color</th>
              <th>Disruption Levels</th>
            </tr>
          </thead>

          <tbody style="font-size: 11px">
            <tr>
              <td bgcolor="gray"></td>
              <td>Disruption not expected.</td>
            </tr>
            <tr>
              <td bgcolor="yellow"></td>
              <td>Flooding to road surfaces, localised agricultural areas, livestock in flood-prone areas may be at risk.</td>
            </tr>
            <tr>
              <td bgcolor="orange"></td>
              <td>Flooding of minor and some larger roads in valleys, extensive agricultural areas, possibility of livestock loss, localised flash flood, some
              damage to rural housing.</td>
            </tr>
            <tr>
              <td bgcolor="red"></td>
              <td>Severe widespread flooding to major rivers and catchments, damage to and loss of housing, major landslides, loss of livestock and risk of loss
              of human life and livelihoods.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
