<div class="panel panel-default">
  <%= form_with(model: disaster, local: true) do |form| %>
    <% if disaster.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(disaster.errors.count, "error") %> prohibited this disaster from being saved:</h2>

        <ul>
        <% disaster.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="panel-body">
      <div class="row">
        <!-- col1  -->
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <%= form.text_field :string, class: 'form-control', placeholder: 'Event' %>
          </div>

          <div class="form-group">
            <%= form.collection_select(:province_id , Province.all, :id, :name,  {:prompt => 'Select Province'} ,allow_blank: true, placeholder: 'Select province', class: 'form-control') %>
          </div>

          <div class="form-group">
            <%= form.collection_select(:district_id , District.all, :id, :name, {:prompt => 'Select District'} , class: 'form-control', allow_blank: true, placeholder: 'Select district') %>
          </div>

          <div class="form-group">
          <%= form.collection_select(:sector_id , Sector.all, :id, :name, {:prompt => 'Select Sector'} , class: 'form-control', allow_blank: true, placeholder: 'Select sector') %>
          </div>

          <div class="form-group">
            <%= form.text_field :datetime, class: 'form-control', placeholder: 'date of occurence' %>
          </div>

          <div class="form-group">
            <%= form.text_field :string, class: 'form-control', placeholder: 'location' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'deaths' %>
          </div>
        </div>
        <!-- cols2  -->
        <div class="col-md-4 col-md-offset-2">

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'injured' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'missing' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'destroyed houses' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'damaged houses' %>
          </div>
          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'directly affected people'%>
          </div>
          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'indirectly affected people'%>
          </div>
          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'relocated' %>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'people evacuated' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'losses in USD' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'losses in RFW' %>
          </div>

          <div class="form-group">
            <%= form.text_field :string, class: 'form-control', placeholder: 'damages crops  in hectares' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'lost cattle' %>
          </div>

          <div class="form-group">
            <%= form.text_field :integer, class: 'form-control', placeholder: 'damages roads in meters' %>
          </div>

          <div class="form-group">
            <%= form.text_area :string, class: 'form-control', placeholder: 'comments' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="form-group">
        <% if disaster.persisted? %>
          <div class="float-right">
            <%= link_to 'Destroy', disaster, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

        <%= form.submit class: 'btn btn-primary' %>

        <% if disaster.persisted? %>
          <%= link_to "Cancel", disaster, class: "btn btn-link" %>
        <% else %>
          <%= link_to "Cancel", disasters_path, class: "btn btn-link" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
