<div class="page-header">
  <%= link_to disasters_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Disasters
  <% end %>
  <%= link_to edit_disaster_path(@disaster), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show disaster</h1>
</div>

<dl class="dl-horizontal">
  <dt>String:</dt>
  <dd><%= @disaster.string %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Datetime:</dt>
  <dd><%= @disaster.datetime %></dd>

  <dt>String:</dt>
  <dd><%= @disaster.string %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Indirectly affected:</dt>
  <dd><%= @disaster.indirectly_affected %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>String:</dt>
  <dd><%= @disaster.string %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>Integer:</dt>
  <dd><%= @disaster.integer %></dd>

  <dt>String:</dt>
  <dd><%= @disaster.string %></dd>

</dl>
