<div class="col-md-9">
  <%= form_with(model: sector, local: true) do |form| %>
    <% if sector.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

        <ul>
        <% sector.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :district_id %>
      <%= form.collection_select(:district_id , District.all, :id, :name, class: 'form-control') %>
    </div>

    <div class="form-group">
      <% if sector.persisted? %>
        <div class="float-right">
          <%= link_to 'Destroy', sector, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

      <%= form.submit class: 'btn btn-primary' %>

      <% if sector.persisted? %>
        <%= link_to "Cancel", sector, class: "btn btn-link" %>
      <% else %>
        <%= link_to "Cancel", sectors_path, class: "btn btn-link" %>
      <% end %>
    </div>
  <% end %>
</div>
