<div class="row content-header">
  <div class="col-sm-3">
    <h1>Districts</h1>
  </div>

  <div class="col-sm-9 action-buttons text-right">
    <%= link_to new_district_path, class: "btn btn-primary add-button" do %>
      <small>   <i class="fa fa-plus"></i> Create District </small>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="panel panel-defalt">
      <div class="panel-header">
        All Districts
      </div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
                <th>Province</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
          </thead>

          <tbody>
            <% @districts.each do |district| %>
              <%= content_tag :tr, id: dom_id(district), class: dom_class(district) do %>
                  <td><%= link_to district.name, district %></td>
                  <td><%= district.province.name %></td>
                  <td><%= district.lat %></td>
                  <td><%= district.long %></td>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
