


<div class="row">
  <div class="col-sm-6">
    <h1>Districts</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_district_path, class: 'btn btn-primary' do %>
    Add New District
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Name</th>


            <th>Province</th>
            <th>Lat</th>
            <th>Long</th>

      </tr>
    </thead>

    <tbody>
      <% @districts.each do |district| %>
        <%= content_tag :tr, id: dom_id(district), class: dom_class(district) do %>
            <% province = Province.find(district.province_id) %>
            <td><%=  link_to district.name, district %></td>


                      <!-- <td><%= district.province_id %></td> -->
                      <td><%= link_to province.name, province %></td>

                      <td><%= district.lat %></td>
                      <td><%= district.long %></td>


        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
