


<div class="row">
  <div class="col-sm-6">
    <h1>Feedbacks</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_feedback_path, class: 'btn btn-primary' do %>
    Add New Feedback
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>


            <th>Caller</th>
            <th>Audio url</th>

          <th></th>

      </tr>
    </thead>

    <tbody>
      <% @feedbacks.each do |feedback| %>
        <%= content_tag :tr, id: dom_id(feedback), class: dom_class(feedback) do %>


                      <td><%= feedback.caller_id %></td>
                      <td><%= feedback.audio_url %></td>
                      <a href="javascript:void(0)" id="playsound">At Station</a>

                      <audio id="sound_effect" class="audio_player" preload="auto">
                          <source src="http://www.villagegeek.com/downloads/webwavs/alrighty.wav" type="audio/wav">
                      </audio>



            <td><%= link_to 'Show', feedback %></td>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
