<div class="row content-header">
  <div class="col-sm-3">
    <h2>Notifications sent</h2>
  </div>

  <div class="col-sm-9 action-buttons text-right">
    <%= link_to new_early_warning_report_path, class: "btn btn-primary add-button" do %>
      <small>   <i class="fa fa-plus"></i> Create Notification </small>
    <% end %>
  </div>
</div>

<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Sector</th>
            <th>Level</th>
            <th>Recievers</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @early_warning_reports.each do |early_warning_report| %>
            <%= content_tag :tr, id: dom_id(early_warning_report), class: dom_class(early_warning_report) do %>

              <td><%= early_warning_report.sector.try(:name) %></td>
              <td><%= early_warning_report.level %></td>
              <td>
                <% array_of_rec = early_warning_report.recieviers.scan(/\d/).map(&:to_s) %>
                <% array_of_rec.each do |reciever| %>
                  <% r = User.find(reciever) %>
                  <%= r.name %>
                  <br/>
                <% end %>
              </td>
              <td><p> <%=early_warning_report.sms_status%></p></td>

              <td><%= link_to 'Show', early_warning_report %></td>

            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
