<div class="page-header">
  <%= link_to early_warning_reports_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Early_warning_reports
  <% end %>
  <%= link_to edit_early_warning_report_path(@early_warning_report), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show early_warning_report</h1>
</div>

<dl class="dl-horizontal">
  <dt>Early warning:</dt>
  <dd><%= @early_warning_report.early_warning_id %></dd>

  <dt>Sector:</dt>
  <dd><%= @early_warning_report.sector_id %></dd>

  <dt>Level:</dt>
  <dd><%= @early_warning_report.level %></dd>

  <dt>Reciever:</dt>
  <dd><%= @early_warning_report.recieviers %></dd>

</dl>
