<%= form_with(model: weather, local: true) do |form| %>
  <% if weather.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather.errors.count, "error") %> prohibited this weather from being saved:</h2>

      <ul>
      <% weather.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :jsonb %>
    <%= form.text_field :jsonb, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if weather.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', weather, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if weather.persisted? %>
      <%= link_to "Cancel", weather, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", weathers_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
