<div class="page-header">
  <%= link_to reports_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Reports
  <% end %>
  <%= link_to edit_report_path(@report), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show report</h1>
</div>

<dl class="dl-horizontal">
  <dt>Weather:</dt>
  <dd><%= @report.weather_id %></dd>

  <dt>User:</dt>
  <dd><%= @report.user_id %></dd>

  <dt>Status:</dt>
  <dd><%= @report.status %></dd>

</dl>
